


body {

  font-family: "Red Hat Display", sans-serif;
  margin: 0;
  padding: 0;
  background-color:  hsl(225, 100%, 94%);
  background-image: url(images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100vh;

}

.button {


}

.cancel {


}
.order-summary {
  text-align: center;
}


.payment {
    font-family: "Red Hat Display", sans-serif;
}

.plan {
  background-color: hsl(225, 100%, 98%);


}

.cancel {
    font-family: "Red Hat Display", sans-serif;
}

.main-container {
  background-color: white;
  width: 450px;
  padding-bottom: 50px;
  margin: 25px auto 25px auto;

}
