
body {

  background-image: url(file:///C:/Users/18105/Desktop/Web%20Development/HTML%20-%20Order%20Summary/Images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
}

.First {
  background-color: white;
  width: 450px;
  height: 900px;
  margin: auto;


}

.Second {
  background-color: hsl(225, 100%, 98%);
  width: 450px;
  height: 200px;
  margin: auto;
}

.Third {
  background-color: white;
  width: 450px;
  height: 200px;
}
